<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jasenlistaus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<h1>Jäsenet</h1>
<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>/
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
  <table class="table table-striped">
		<tr>
		    <th>Etunimi</th>
		    <th>Sukunimi</th>
		    <th>Osoite</th>
		    <th>Postinumero</th>
		    <th>Puhelin</th>
		    <th>Email</th>
		    <th>Yhdistys</th>
		    <th>Jäsenyys</th>
		    <th>Tapahtumat</th>
		    <th></th>
		    <th></th>
		     <th></th>
		      <th sec:authorize="hasAuthority('ADMIN')"></th>
		     <th sec:authorize="hasAuthority('ADMIN')"> </th>
    
		</tr>  
    	<tr th:each = "jasen : ${jasenet}">
    		<td th:text="${jasen.etunimi}"></td>
    		<td th:text="${jasen.sukunimi}"></td>
    		<td th:text="${jasen.osoite}"></td> 	
    		<td th:text="${jasen.postinumero}"></td> 
    		<td th:text="${jasen.puhelin}"></td> 
    		<td th:text="${jasen.email}"></td>		
    		<td th:text="${jasen.yhdistys.name}"></td> 	
    		<td th:text="${jasen.jasenyys.name}"></td> 	
    		<td th:text="${jasen.tapahtumat}"></td> 		
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${jasen.id})}"><button type="button"  class="btn btn-success">Muokkaa</button></a><td>   
 			
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${jasen.id})}"><button type="button"  class="btn btn-danger">Poista</button></a></td>	  		
    	</tr>
     </table>
     
     <a href="/add"><button type="button"  class="btn btn-primary">Uusi jäsen</button></a>
     
        
</body>
</html>