<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uusi jäsen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Lisää jäsen</h1>
	<div class="col-xs-6">
		<div class="jumbotron">
   		 <div class="container">
		<form class= "form" th:object="${jasen}" th:action="@{save}" action="#" method="post">
		  	
		  	<label for="etunimi">Etunimi</label>
			<input class="form-control" type="text" id="etunimi" th:field="*{etunimi}" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('etunimi')}" th:errors="*{etunimi}"></div>
			
			<label for="sukunimi">Sukunimi</label>
			<input class="form-control" type="text" id="sukunimi" th:field="*{sukunimi}" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('sukunimi')}" th:errors="*{sukunimi}"></div>
			
			
		  	<label for="osoite">Osoite</label>
			<input class="form-control" type="text" id="osoite" th:field="*{osoite}" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('osoite')}" th:errors="*{osoite}"></div>
			
			
			<label for="postinumero">Postinumero</label>
			<input class="form-control" type="text" id="postinumero" th:field="*{postinumero}" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('postinumero')}" th:errors="*{postinumero}"></div>
			
			
			<label for="puhelin">Puhelin</label>
			<input class="form-control" type="text" id="puhelin" th:field="*{puhelin}" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('puhelin')}" th:errors="*{puhelin}"></div>
				
							
		  	<label for="email">Email</label>
			<input class="form-control" type="text" id="email" th:field="*{email}" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
				
			
			<div style="clear: both; display: block; height: 5px;"></div>		
			<label for="deplist">Yhdistys</label>
			 <select id="deplist" th:field="*{yhdistys}" class="form-control" >
       			<option th:each="yhdistys: ${yhdistykset}" th:value="${yhdistys.id}" th:text="${yhdistys.name}"></option>
    		</select>
    		
    		<div style="clear: both; display: block; height: 5px;"></div>		
			<label for="deplist">Jäsenyys</label>
			 <select id="deplist" th:field="*{jasenyys}" class="form-control" >
       			<option th:each="jasenyys: ${jasenyydet}" th:value="${jasenyys.id}" th:text="${jasenyys.name}"></option>
    		</select>					
		  	
		  	<div  class="form-group row"></div>		
			<label class="col-form-label col-sm-4">Tapahtumat</label>
			<div class="col-sm-8">
				<th:block th:each="tapahtuma:${tapahtumat}">
				<div>
					<input type="checkbox" th:field="*{tapahtumat}" th:text="${tapahtuma.name}"
						th:value="${tapahtuma.id}" />
				 </div>
			</div>
		  			  				
			<input type="submit" value="Save"></input>
		</form>
		</div>
		</div>
	</div>
</body>
</html>